.a1{
    width: 100px;
    height: 100px;
    background-color: red;
    box-shadow: 4px 2px 5px black;
    /* transform: 0.5s; */
}
.a1:hover{
    box-shadow: 2px 2px 2px white;
    transform: scale(1.2);
    transition: all 0.9s ;
}

.a2{
    width: 100px;
    height: 100px;
    background-color: blue;
      box-shadow: 4px 2px 5px black;
}
.a2:hover{
    box-shadow: 2px 2px 2px white;
    transform: scale(1.2);
    transition: all 0.9s ;
    }

.a3{

    width: 100px;
    height: 100px;
    background-color: green;
      box-shadow: 4px 2px 5px black;
}
.a3:hover{
    box-shadow: 2px 2px 2px white;
    transform: scale(1.2);
    transition: all 0.9s ;
}
.a4{
    width: 100px;
    height: 100px;
    background-color: yellow;
      box-shadow: 4px 2px 5px black;
}
.a4:hover{
    box-shadow: 2px 2px 2px white;
    transform: scale(1.2);
    transition: all 0.9s ;
}
.a5{    
    width: 100px;
    height: 100px;
    background-color: purple;
      box-shadow: 4px 2px 5px black;
}       
.a5:hover{
    box-shadow: 2px 2px 2px white;
    transform: scale(1.2);
    transition: all 0.9s ;
}
.content{
    display: flex;
    gap: 10px;
    /* justify-content: center; */
    /* align-items: center; */
    height: 100vh;
}
.block {
    width: 200px;
    height: 200px;
    background-color: red;
    box-shadow: 10px 10px 10px pink;
}






.paxama_card{
    margin: 150px 0px;
    border: 2px dotted red;
    box-shadow: 0px 50px 50px rgb(182, 17, 17);
    width: 350px;
    height: 450px;
    padding: 20px;
    border-radius: 50px;
    /* transition: 0.6s all ease; */
    transform: 0.6s all ease;
}
.paxama_card img{
    border-radius: 10px;
    width: 100%;
}
.paxara_text h1{
    font-size: 30px;
    text-align: center;
}
.paxama_text p{
    font-size: 14px;
    font-weight: 400px;
    text-align: center;
 }
.paxama_btn{
    margin: 30px 120px;
}
.paxama_btn button{
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    background-color: blue;
    color: white; 

}


  

.paxama_card:hover{
    transform: scale(0.9); 
}
.paxama_display{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
} 